@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz czy Buzz?";
}

<div>
    <h1 class="display-4 text-center">
        @(string.IsNullOrEmpty(Model.Result)?"Formularz":Model.Result)
    </h1>
    <form method="GET">
        <div class="form-group">
            <label asp-for="FizzBuzz.Number">Podaj liczbę</label>
            <input asp-for="FizzBuzz.Number" class="form-control" />
            <span asp-validation-for="FizzBuzz.Number" class="font-weight-bold text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Sprawdź" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}